*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
}

.main{
    height: 50vh;
    width: 30vw;
    display: flex;
    flex-direction: column;

}

form{
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-color: rgb(147, 149, 174);
    padding: 30px;
    border-radius: 10px;
    font-size: 25px;

}

input{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 5px;
    list-style: none;    
}

button{
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;  
    font-size: 18px;
    border-radius: 10px; 
}